##  KNN Classification

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('KNN_Discrete.csv')
df

    F1   F2    F3     F4 Class
0  1.0  0.5  0.44   0.00     l
1  0.8  0.6  0.00   0.22     l
2  0.7  0.4  0.00   0.00     l
3  0.0  0.1  2.64   4.40     c
4  0.1  0.0  1.76  12.32     c

- Get query data points

In [3]:
n = int(input('Enter the no. of query points: '))
arr = []
for i in range(n):
    temp = []
    print('q',(i+1))
    for j in range(len(df.columns)-1):
        temp.append(float(input('value: ')))
    arr.append(temp)
arr

Enter the no. of query points: 2
q 1
value: 0.5
value: 0.6
value: 0.22
value: 0
q 2
value: 0.1
value: 0
value: 2.64
value: 0.88

[[0.5, 0.6, 0.22, 0.0], [0.1, 0.0, 2.64, 0.88]]

- Convert query data points to dataframe

In [4]:
df_query = pd.DataFrame()
for j in range(len(arr[0])):
    df_query['F'+str(j+1)] = [arr[i][j] for i in range(len(arr))]
    
df_query

    F1   F2    F3    F4
0  0.5  0.6  0.22  0.00
1  0.1  0.0  2.64  0.88

- Query slicing

In [5]:
df_query.loc[0][:2]

F1    0.5
F2    0.6
Name: 0, dtype: float64

- Calculate Eucledian Distance

In [6]:
df

    F1   F2    F3     F4 Class
0  1.0  0.5  0.44   0.00     l
1  0.8  0.6  0.00   0.22     l
2  0.7  0.4  0.00   0.00     l
3  0.0  0.1  2.64   4.40     c
4  0.1  0.0  1.76  12.32     c

- Intuition

In [7]:
np.sqrt(np.sum(np.square(np.array(df_query.loc[0])-np.array(df.loc[0][:len(df_query.loc[0])]))))

0.5553377350765928

- Eucledian Distance

In [8]:
# Get k value..
K = int(input('K: '))

K: 3

- Get the appropriate class

##### Intuition
- list(_shortListed_dict.keys())
- list(_shortListed_dict.values())
- max(_shortListed_dict.values())

In [9]:

def getClass(_dict):
    _class_count_dict = {} #For counting the the max occurred classes
    _dict = slice_k(_dict,K)
    
    # Counting the repeated classes from the sliced dictionary
    for value in _dict.values():
        _class_count_dict[value] = _class_count_dict.get(value,0)+1
        
    # Printing the dictionary with class and respective class counts..
    print(_class_count_dict)
    
    #  Converting dict to list and accessing the maximum occured neighbour class   
    key = list(_class_count_dict.keys())[list(_class_count_dict.values()).index(max(_class_count_dict.values()))]  
    
    return key

- slice the dictionary

In [10]:
def slice_k(_dist,K):
    
    #Sorting dictionary
    _dist = dict(sorted(_dist.items())) 
    
    #Converting to list and slicing and then converting to dict..
    _dist = dict(list(_dist.items())[:K]) 
    
    return _dist

In [11]:
# Initalizing target_class list to store it in dataframe.
target_class = []
for i in range(len(df_query)):
    _dist = {}
    for j in range(len(df)):
        
        # np.sqrt(np.sum(np.square(df_query.loc[i]-df.loc[j][:len(df_query.loc[i])]))) - gives the eucledian distance
        
        #Assigning the corresponding class to the found eucledian distance
        _dist[np.sqrt(np.sum(np.square(df_query.loc[i]-df.loc[j][:len(df_query.loc[i])])))] = df.loc[j]['Class']
        
    #Appending the corresponding class for the query point i
    target_class.append(getClass(_dist))

target_class

{'l': 3}
{'l': 3}

['l', 'l']

- Convert to data frame

In [12]:
df_query['Target'] = target_class
df_query

    F1   F2    F3    F4 Target
0  0.5  0.6  0.22  0.00      l
1  0.1  0.0  2.64  0.88      l

- Save dataframe to separate file

In [13]:
df_query.to_csv('KNN_ANS.csv', index=False)