### Naive Baye's Classifier (Labelled)

In [9]:
import pandas as pd
import numpy as np

In [10]:
X = pd.read_csv('Naive_Labelled.csv')
X.head()

           Age  Income Student  Credit_Rating Actual
0        youth    high       no          fair     no
1        youth    high       no     excellent     no
2  middle aged    high       no          fair    yes
3       senior  medium       no          fair    yes
4       senior     low      yes          fair    yes

In [11]:
Y = X.Actual
X.drop(columns='Actual',inplace=True)

In [12]:
Test_df = pd.read_csv('Naive_Labelled_Query.csv')
Test_df

     Age  Income Student  Credit_Rating
0  youth  medium      yes          fair

In [13]:
class NaiveBayesLabelled():
    def fit(self,X: pd.DataFrame,Y: pd.Series):
        self.X = X
        self.Y = Y
        
    def predict(self,Test: pd.DataFrame):
        self.Test = Test
        self.setclassdict()
        self.final_class = []
        for k in range(len(self.Test)):
            prob_given_dp = {}
            for key in self.class_dict.keys():
                prob_given_dp[key] = self.prob_dp_given_class(self.Test.iloc[k],key)*self.class_prob_dict[key]
            
            print(prob_given_dp) 
            self.final_class.append(max(prob_given_dp,key=prob_given_dp.get))
        
        Test['Class'] = self.final_class
        return Test
        
    def prob_dp_given_class(self,Test_i: pd.Series,key: str):
        self.prob_given_class = {}
        prob = 1
        for j in range(len(Test_i)):
            prob*= (self.findCount(Test_i.iloc[j],j,key)/self.class_dict[key])
        
        return prob
        
    def findCount(self,param: str,colNum: int,key: str)-> int:
        count = 0
        for i in range(len(self.X)):
            if self.X.iloc[i][colNum] == param and self.Y.iloc[i]==key:
                count+=1
        
        return count
    
    def setclassdict(self):
        self.class_dict = {}
        self.class_prob_dict = {}
        for _class in self.Y:
            self.class_dict[_class] = self.class_dict.get(_class,0)+1
        
        for key,value in self.class_dict.items():
            self.class_prob_dict[key] = value/len(self.Y)

In [14]:
model = NaiveBayesLabelled()
model.fit(X,Y)

In [15]:
model.predict(Test_df)

{'no': 0.006857142857142858, 'yes': 0.028218694885361547}

     Age  Income Student  Credit_Rating Class
0  youth  medium      yes          fair   yes